/* *{
    margin: 0px;
    padding: 0px;
} */
.box1{
    height: 300px;
    width: 700px;
    background-color: burlywood;
    background-image: url(asset/download1.jpeg);
    background-repeat: no-repeat;
    background-position: 180px 150px;
    background-size: 200px;
    /* opacity: 90%; */

    padding: 0px 10px 10px 10px ;
    /* margin-left: 250px; */
    border: 3px solid rgb(128, 128, 128);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.box2{
    height: 200px;
    width: 700px;
    background-color: aqua;
    border: black 3px;
    border-style: double;
    margin-top: 25px;
}